﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
    padding-left: 2em;
    padding-right: 2em;
}

#newPost {
    background: rgba(0, 0, 0, .3);
}
#newPost textarea{
    min-width: 90%;
}
#newPost * {
    display: block;
    margin: 0 auto;
}

.postDiv {
    margin: 1em 1em;
    background: black;
}

.postName {
    color: gainsboro;
    text-decoration: underline;
}

.postText {
    color: white;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
