﻿
@{
    ViewBag.Title = "Write";
}

<h2>Новый пост в Блог:</h2>

<form id="newPost" method="post" action="">
    <input type="text" name="Name" placeholder="Название поста" />
    <textarea name="Text" rows="4" cols="50" placeholder="Текст поста"></textarea>

    <input type="submit" value="Написать в Блог" />
</form>