﻿
@{
    ViewBag.Title = "Home Page";
}

<div class="text-right">
    <a href="@Url.Action("AddNew", "Home")" class="btn-success">Add Post</a>
    <a href="@Url.Action("RemoveAll", "Home")" class="btn-danger">Clear Blog</a>
</div>
<hr />
@foreach(var p in ViewBag.Posts)
{
    <div class="postDiv">
        <a href="/Home/RemoveById/@p.BlogpostId" class="btn-warning">Delete this post</a>
        <p class="postName">@p.Name</p>
        <p class="postText">@p.Text</p>
    </div>
}